
<launch>

  <arg name="visualize" default="true" />
  <!-- <arg name="model" default="$(find bunker_explorer_description)/urdf/REV3_bunker_realsense.urdf.xacro"/> -->
  <arg name="model" default="$(find bunker_explorer_description)/urdf/bunker_realsense.urdf.xacro"/>
  <!-- <arg name="model" default="$(find bunker_explorer_description)/urdf/bunker_explorer_description.urdf.xacro"/> -->
  <arg name="rvizconfig" default="$(find bunker_explorer_description)/rviz/bunker_mapping.rviz" />

  
  <!-- 
      The robot can be controlled either through CAN bus or UART port. Make sure the hardware
      interface is set up correctly before attempting to connect to the robot.
      
      You only need to specify the port name, such as "can0", "/dev/ttyUSB0". The port should 
      operate with the following configuration:
      
      * CAN bus: 500k
      * UART: 115200, Parity None, 8-bit Data, 1 Stop Bit 
  -->
  <arg name="port_name" default="can0" />
  <arg name="is_bunker_mini" default="false" />
  <arg name="simulated_robot" default="false" />
  <arg name="odom_topic_name" default="odom" />
  <arg name="pub_tf" default="true" />
  <arg name="base_frame_id" default="base_footprint"/>

  <node name="bunker_base_node" pkg="bunker_base" type="bunker_base_node" output="screen">
      <remap from="/cmd_vel" to="/smoother_cmd_vel"/>
      <param name="is_bunker_mini" type="bool" value="$(arg is_bunker_mini)" />
      <param name="port_name" type="string" value="$(arg port_name)" />
      <param name="simulated_robot" type="bool" value="$(arg simulated_robot)" />
      <param name="odom_frame" type="string" value="odom" />
      <!-- original <param name="base_frame" type="string" value="base_link" /> -->
      <param name="base_frame" type="string" value="$(arg base_frame_id)" />
      <param name="odom_topic_name" type="string" value="$(arg odom_topic_name)" />
      <param name="pub_tf" type="string" value="true" />
  </node>
  
  <!-- <param name="robot_description" textfile="/home/andi/catkin_devel_ws/src/bunker_explorer_bot/bunker_explorer_description/urdf/rev4_bunker_realsense_imu_to_robot_base.urdf" /> -->
  <!-- <param name="robot_description"  textfile="$(find bunker_explorer_description)/urdf/bunker_explorer_description.urdf" /> -->
  <!-- <param name="robot_description" textfile="/home/andi/catkin_devel_ws/src/bunker_explorer_bot/bunker_explorer_description/urdf/REV3_bunker_realsense.urdf" /> -->
  <param name="robot_description" textfile="/home/andi/catkin_devel_ws/src/bunker_explorer_bot/bunker_explorer_description/urdf/bunker_realsense.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
    <rosparam param="source_list">["joint_states_ct"]</rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


</launch>